.footers-container{
    background: $color-2;

    .logo-container{
        text-align: center;
        padding-top: 70px;
        margin-bottom: 45px;
    }


    h2{
        text-align: center;
        color: white;
        padding-bottom: 30px;
    }

}