@import "../settings";
@import "../../assets/fonts/fonts";


.nav-container{
    font-family: $font-1;
    width: 100%;
    margin-top: 45px;
    display: flex;
    align-items: center;

    img{
        margin-left: 100px;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 24px;
        margin-right: 100px;
    }

    .nav-active{
        position: relative;

        &::after {
            content: "";
            height: 1px;
            width: 100%;
            background: $color-1;
            position: absolute;
            border-radius: 10px;
        }
    }

    a{
        text-decoration: none;
        color: $color-1;
    }


    a:nth-of-type(1){
        margin-right: 65px;
    }

}

@media (max-width: 720px) {
    .nav-container{

        img{
            width: 145px;
            margin-left: 10%;
            height: 46px;
        }

        ul{
            margin-right: 10%;
            font-size: 12px;
        }

        a:nth-of-type(1){
            margin-right: 26px;
        }


    }
}